.right-side-links a{
    text-decoration: none;
    color:rgb(0, 110, 73);
   
   
}
html, body{
    height:100%;
    margin:0;
    font-family:sans-serif;
    font-weight: 500;
}


.main-content{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:80%;
    
   
  
}

.main-content .left-side{
    flex:2;

}

.main-content .right-side{
    flex:3;
    font-family: sans-serif;
    font-size: 20px;
  
}

.nav-bar-top{
    display:flex;
    justify-content: space-between;
 
}
.left-logo{
    padding-left: 20px;
}


.left-logo >img{
    height:36px;
    width:36px;
   background-color:aquamarine;
   border-radius:4px;


  padding:2px;
  border: 1px solid rgb(0, 168, 112);
  
}
.header-section{
 
    height:10%;
   padding-left: 32px ;
   padding-top: 20px;
   padding-right: 32px;
   
}
.right-side-links{
    display: flex;
  flex-direction: row;
  gap:40px;
  font-size: 16px;
  padding-right: 60px;
 
  font-weight: lighter;


}

.header-section >nav{
    align-items: center;
    text-align: center;
}




.left-side > img{
 height: 600px;
 width:600px;
padding-left: 50px;
padding-top: 50px;
padding-right: 0px;
 /* border-radius: 60px; */

 

}

.right-side{
    text-align: center;
    padding:60px;
    
}

.right-side>h6{
    font-size: 56px;
    font-weight: 900;
    text-align: left;
    padding-bottom: 14px;
    color: rgb(1, 177, 118);
}

hr{
     border: .1px solid rgb(0, 168, 112);;
}


.right-side > h3{
      font-size: 16px;;
    font-weight: lighter;
    line-height: 45px;
    text-align: left;
}

.right-side> h4{
    font-family: sans-serif;
    font-size:24px;
    font-weight:lighter;
    text-align: left;
    color:rgb(68, 68, 68);
    line-height: 40px;
}

.main-content .left-side
{
     background-color: rgb(255, 255, 255);
}

.bottom-links  {
     position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(207, 255, 239);
  height:20%;
  width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding:56px;
    font-size: 16px;
  
    font-weight: 200;
}

.social-links >a{
    text-decoration: none;
    color:rgb(0, 69, 46);
  
  
}




.social-links i{
    padding-right: 8px;
}


.skill-set{
    height:80px;
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
 
    font-size: 14px;
  
    font-weight: lighter;
   gap:40px;
}

.skill-set >p{
     border: .2px solid rgb(0, 239, 159);
     border-radius: 4px;
     width:80px;
     padding:8px;
}
  
    
@media screen and (max-width: 900px) {
  .header-section {
    flex-direction:column;
  }
  .main-content{
    flex-direction: column;
  }
  .bottom-links{
    flex-direction: column;

  }
}




    
  
    
    